.widget .section__header {
    padding: 15px 20px;
    background-color: #006683;
    border-left: 0;
}
.widget.widget--usernotes .section__header {
    background-color: #a42d14;
}
.widget.widget--highfive .section__header {
    background-color: #b74513;
}
.widget.widget--vacation .section__header {
    background-color: #177448;
}
.widget .section__header .section__title {
    font-size: 21px;
    color: #fff;
}
.picker_container {
    margin: 20px auto;
}
.negative-margin {
    padding-bottom: 10px;
}
.table__heading {
    padding: 10px !important;
}
.button--custom {
    width: 100%;
    font-weight: bold !important;
    text-transform: uppercase;
}
select {
    height: 32px;
}
.loadComponent-appear,
.loadComponentVacation-appear,
.loadComponentHighFive-appear,
.loadComponentNotes-appear {
    opacity: 0.01;
    transform: translateY(20px);
}
.loadComponentLogin-appear {
    transform: translateY(60px);
}

.loadComponent-appear.loadComponent-appear-active,
.loadComponentVacation-appear.loadComponentVacation-appear-active,
.loadComponentNotes-appear.loadComponentNotes-appear-active,
.loadComponentHighFive-appear.loadComponentHighFive-appear-active,
.loadComponentLogin-appear.loadComponentLogin-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-in 100ms;
}
.loadComponentVacation-appear.loadComponentVacation-appear-active {
    transition-delay: 300ms;
}
.loadComponentNotes-appear.loadComponentNotes-appear-active {
    transition-delay: 500ms;
}
.loadComponentHighFive-appear.loadComponentHighFive-appear-active {
    transition-delay: 700ms;
}
.DayPicker_transitionContainer__horizontal {
    min-height: 400px;
}
.header__bottom {
    background: #2ab7a9 !important;
}
.loaderWidget {
    margin: 102px 0;
    text-align: center;
}
