.widget .section__header {
    padding: 15px 20px;
    background-color: #006683;
    border-left: 0;
}
.widget.widget--usernotes .section__header {
    background-color: #a42d14;
}
.widget.widget--highfive .section__header {
    background-color: #b74513;
}
.widget.widget--vacation .section__header {
    background-color: #177448;
}
.widget.widget--vacation {
    transition-delay: 1s;
}
.widget .section__header .section__title {
    font-size: 21px;
    color: #fff;
}
.picker_container {
    margin: 20px auto;
}
.negative-margin {
    padding-bottom: 10px;
}
.table__heading {
    padding: 10px !important;
}
.button--custom {
    width: 100%;
    font-weight: bold !important;
    text-transform: uppercase;
}
select {
    height: 32px;
}
.loadComponent-appear {
    opacity: 0.01;
    transform: translateY(20px);
}
.loadComponent-appear.loadComponent-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-in;
}
.loadComponent-enter {
    opacity: 0.01;
    transform: translateY(20px);
}
.loadComponent-enter.loadComponent-enter-active {
    opacity: 1;
    transition: all 400ms ease-in;
    transform: translateY(0);
}
.loadComponent-leave {
    opacity: 1;
    position: absolute;
}
.loadComponent-leave.loadComponent-leave-active {
    opacity: 0.01;
    transition: all 300ms ease-in;
    position: absolute;
}
