.widget .section__header {
    padding: 15px 20px;
    background-color: #006683;
    border-left: 0;
}
.widget.widget--usernotes .section__header {
    background-color: #a42d14;
}
.widget.widget--highfive .section__header {
    background-color: #b74513;
}
.widget.widget--vacation .section__header {
    background-color: #177448;
}
.widget .section__header .section__title {
    font-size: 21px;
    color: #fff;
}
.picker_container {
    margin: 20px auto;
}
.negative-margin {
    padding-bottom: 10px;
}
.table__heading {
    padding: 10px !important;
}
.button--custom {
    width: 100%;
    font-weight: bold !important;
    text-transform: uppercase;
}
select {
    height: 32px;
}
.loadComponent-appear,
.loadComponentVacation-appear,
.loadComponentHighFive-appear,
.loadComponentNotes-appear {
    opacity: 0.01;
    transform: translateY(20px);
}
.loadComponentLogin-appear {
    transform: translateY(30px);
}

.loadComponent-appear.loadComponent-appear-active,
.loadComponentVacation-appear.loadComponentVacation-appear-active,
.loadComponentNotes-appear.loadComponentNotes-appear-active,
.loadComponentHighFive-appear.loadComponentHighFive-appear-active,
.loadComponentLogin-appear.loadComponentLogin-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: all 400ms ease-in;
}
.loadComponentVacation-appear.loadComponentVacation-appear-active {
    transition-delay: 200ms;
}
.loadComponentNotes-appear.loadComponentNotes-appear-active {
    transition-delay: 400ms;
}
.loadComponentHighFive-appear.loadComponentHighFive-appear-active {
    transition-delay: 600ms;
}
.DayPicker_transitionContainer__horizontal {
    min-height: 400px;
}
.header__bottom {
    background: #2ab7a9 !important;
}
.loaderWidget {
    margin: auto;
    text-align: center;
}
.note-type-positive {
    color: #177448;
    font-weight: bold;
    text-transform: uppercase;
}
.note-type-negative {
    color: #a42d14;
    font-weight: bold;
    text-transform: uppercase;
}
.note-type-neutral {
    color: orange;
    font-weight: bold;
    text-transform: uppercase;
}
.table__cell {
    padding: 7px 10px;
}

.ReactModal__Content {
    max-width: 960px;
    margin: auto;
    background-color: #fff !important;
    bottom: auto !important;
}
.ReactModal__Overlay {
    z-index: 9;
    background-color: rgba(16, 16, 16, 0.75) !important;
}
