.ReactModal__Content {
    max-width: 960px;
    margin: auto;
    background-color: #fff !important;
    bottom: auto !important;
}
.ReactModal__Overlay {
    z-index: 9;
    background-color: rgba(16, 16, 16, 0.75) !important;
}
